[submodule "intelligence/prn-johor-2026"]
    path = intelligence/prn-johor-2026
    url = https://github.com/ahmadfaurani/PRN-Johor-2026-H.git
    branch = main

[submodule "intelligence/kempas"]
    path = intelligence/kempas
    url = https://github.com/ahmadfaurani/N47---Kempas.-H.git
    branch = main

[submodule "n27-layang-layang"]
    path = n27-layang-layang
    url = https://github.com/ahmadfaurani/N27---Layang-Layang.-H.git
    branch = main
